:root {
  --primary: #00BBC9;
  --secondary:#00747C;
    --darGrey: #878787;
    --grey: #CACACA;
    --light: #F2F2F2;
}

h1 {
    color: var(--light);
}

p{
  font-size: medium;
  line-height: 0.5em;
}
img{
  width: 50px;
}
h3,h5{
  display: inline;
}
.customBtn {
  border-color: var(--primary);
  color: black;
}

.form-control{
  border-color: var(--grey);
}

.searcher{
  border-bottom: var(--grey);
  border-bottom-style: solid;
}

.history{
  background-color: var(--grey);
  color: black;
}

.divider{
  height: 1px;
  background-color: var(--grey);
}

.Hide{
  display: none;;
}
.card-header{
  background-color: var(--secondary);
  color: var(--light);
}
.mainCardHeader{
  background-color: var(--primary);
  color: black;
}

.history:hover{
  background-color: var(--darGrey);
}

.customBtn:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}
